<div class="container">  
  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          Formation  
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="FormationForm"(ngSubmit)="onFormSubmit(FormationForm.value)">  
                <table>  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="titre" matTooltip="Enter Formation titre" matInput placeholder="Formation titre">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!FormationForm.get('titre').value && FormationForm.get('titre').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="specialite" matTooltip="Enter specialite" matInput placeholder=" specialite">  
                       
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!FormationForm.get('specialite').value && FormationForm.get('specialite').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="description" matTooltip="Enter description" matInput placeholder="description">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!FormationForm.get('description').value && FormationForm.get('description').touched"></span>  
                      </mat-error>  
                    </td>  
                  </tr>  
                  <tr>  
                    
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input matTooltip="Enter duree"formControlName="duree" matInput placeholder="duree">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!FormationForm.get('duree').value && FormationForm.get('duree').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="certification" matTooltip="certification" matInput placeholder="certification">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!FormationForm.get('certification').value && FormationForm.get('certification').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="prix" matTooltip="prix" matInput placeholder="prix">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!FormationForm.get('prix').value && FormationForm.get('prix').touched"></span>  
                        </mat-error>  
                      </td> 
                  </tr>  
                  <tr>  
                    <td></td>  
                    <td  class="content-center">  
                      <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!FormationForm.valid">Submit</button>      
                      <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                    </td>  
                    <td>  
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                    </td>  
                  </tr>  
                </table>  
    <br><br>  
          <table class="table" >  
              <tr ngclass="btn-primary">  
                <th class="tbl2">titre</th>  
                <th class="tbl2">specialite</th>  
                <th class="tbl2">description</th>  
                <th class="tbl2">duree</th>  
                <th class="tbl2">certification</th>  
                <th class="tbl2">prix</th>  
                <th class="tbl2">Edit</th>  
                <th class="tbl2">Delete</th>  
              </tr>  
              <tr *ngFor="let Formation of allFormations | async">  
                <td class="tbl2">{{Formation.titre}}</td>  
                <td class="tbl2">{{Formation. specialite }}</td>  
                <td class="tbl2">{{Formation.description}}</td>  
                <td class="tbl2">{{Formation.duree}}</td>  
                <td class="tbl2">{{Formation.certification}}</td>  
                <td class="tbl2">{{Formation.prix}}</td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadFormationToEdit(Formation.id_form)">Edit</button>  
                </td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteFormation(Formation.id_form)">Delete</button>  
                </td>  
              </tr>  
      
            </table>  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>