<!--
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
      <div *ngIf="isLoginError" class="red-text center error-message">
        <i class="material-icons">error</i> Incorrect username or password
      </div>
      <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
        <div class="row">rgba(231, 185, 185, 0.2)
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="email" #UserName ngModel name="UserName" placeholder="Username" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" #Password ngModel name="Password" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="alert alert-danger" *ngIf="message.length > 0"> {{message}} </div>
          </div>
          <div class="input-field col s12">
            <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div> -->

<div class="container mb-2 mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 ads shadow-left">
      <div style="vertical-align: middle;">
        <h1><span id="fl">ESPRIT</span><span id="sl">Formation</span></h1>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 login-form shadow-right" >
      <div class="profile-img">
        <img src="assets/img/logo.jpg" alt="profile_img" height="140px" >
      </div>
      <h3>Login</h3>
      <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)" style="padding: 10%;">
        <div class="input-field">
          <i style="padding-top: 10px;" class="material-icons prefix">account_circle</i>   
          <input type="email" #UserName ngModel name="email" placeholder="Email" required>
        </div>
        <div class="input-field">
          <i style="padding-top: 10px;" class="material-icons prefix">vpn_key</i>  
          <input type="password" #Password ngModel name="Password" placeholder="Password" required>
        </div>
        <div class="alert alert-danger" *ngIf="message.length > 0"> {{message}} </div>
        <div class="form-group">
          <button type="submit"  class="btn btn-primary btn-lg btn-block">Sign In</button>
        </div>
        <div *ngIf="isLoginError" class="red-text center error-message">
          <i class="material-icons">error</i> Incorrect username or password
        </div>
        <div class="form-group forget-password">
            <a href="#">Forget Password</a>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
    
    
  </div>
 
</div>